@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signInManager;

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/ProfileLayoutStyle.css" rel="stylesheet"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap" rel="stylesheet">

    @RenderSection("Styles", required: false)
</head>
<body>
    <header id="navbar">
        <ul id="ul-pages">
            <li><a class="cal-sans-regular" href="/">Main Page</a></li>
            <li><a class="cal-sans-regular" asp-controller="profile" asp-action="search">Search</a></li>
        </ul>
        <ul id="ul-tools">
            @if(signInManager.IsSignedIn(User))
            {
                <li><a class="cal-sans-regular" asp-controller="profile" asp-action="@User.Identity.Name">Welcome, @User.Identity.Name</a></li>
                <li><a class="cal-sans-regular" asp-controller="profile" asp-action="logout">Log out</a></li>
            }
            else
            {
                <li><a class="cal-sans-regular" asp-controller="profile" asp-action="signin">Sign In</a></li>
                <li><a class="cal-sans-regular" asp-controller="profile" asp-action="register">Register</a></li>
            }
        </ul>
    </header>
    
    <div id="content-container">
        <div id="background"></div>

        <div id="connector">
            @RenderBody()
        
        </div>
        <footer id="copyright">
            Copyright Artyom Re
        </footer>
    </div>


</body>
</html>
